@model Volvo.MaintenanceTool.UserInterface.Models.UserProfileSearchModel

@{
    ViewBag.Title = "User Profile";
}
@section styles{
    <link href="@Url.Content("~/Views/Technicaldashboard/technicaldashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/technicaldashboard.css")" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.UserProfileId)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.UserProfileId, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.ProfileId)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ProfileId, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Profile)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Profile, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.UserId)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.UserId, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.BaldoUserId)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.BaldoUserId, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.SurName)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.SurName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 pull-left">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:15px;">
                            <input id="btnSearchUserProfileInfo" class="btn btn-primary pull-left" value="Search" type="button" name="btnSearchUserProfileInfo" />
                            <input id="btnClear" class="btn btn-primary pull-right" value="Clear" type="button" name="btnClear" />
                        </div>
                    </div>
                </div>
                @*<div class="col-md-2 col-sm-6 pull-left">
                    <div class="row">
                        <div class="col-md-12" style="height:15px;">
                        </div>
                        <div class="col-md-12">
                            <input id="btnSearchUserProfileInfo" class="btn btn-primary pull-left" value="Search" type="button" name="btnSearchUserProfileInfo" />
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div id="grid" style="font:small-caption;"></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="output">
    </div>
</div>
<div style="display:none;" data-url="@Url.Action("GetUserProfileInfo", "User")" id="UrlGetUserProfileInfo"></div>
<div style="display:none;" data-url="@Url.Action("GetUserDetail", "User")" id="UrlGetUserDetail"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetUserProfileInfo();
        });
    </script>
    <script src="@Url.Content("~/Scripts/user.userprofile.js")" type="text/javascript"></script>
}
