@model Volvo.MaintenanceTool.UserInterface.Models.ProcessInstanceSearchModel
@{
    ViewBag.Title = "Index";
}

@section styles{
    <link href="@Url.Content("~/Content/technicaldashboard.css")" rel="stylesheet" />
    
}
<div class="container-fluid">
    <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.ProcessId)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.ProcessId, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.InterfaceName)
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(x => Model.InterfaceName, new SelectList(Model.InterfaceNameList, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "InterfaceName" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.FIFOTag)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.FIFOTag, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.FIFOTag2)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.FIFOTag2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.Status)
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(x => Model.Status, new SelectList(Model.StatusList, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Status" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayName("ReProcess Reason")
                            </div>
                            <div class="col-md-12">
                                <input id="txtReProcess" class="col-md-12 disabled pull-right form-control" value="" type="text" disabled="disabled" name="txtReProcess" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 pull-left">
                        <div class="row">
                            <div class="col-md-12" style="margin-top:15px;">
                                <input id="btnSearchProcess" class="btn btn-primary pull-left" value="Search" type="button" name="btnSearchProcess"/>
                                <input id="btnReProcess" class="btn btn-primary disabled" value="Re-Process" type="button" disabled="disabled" name="btnReProcess"/>
                                <input id="btnClear" class="btn btn-primary pull-right" value="Clear" type="button" name="btnClear" />
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
                @Html.Hidden("hdnProcessId")
    </div>
    <div id="grid" style="font:small-caption;"></div>
</div>
<div style="display:none;" data-url="@Url.Action("GetLogIndex", "TechnicalDashBoard")" id="UrlLogIndex"></div>
<div style="display:none;" data-url="@Url.Action("ReprocessError", "TechnicalDashBoard")" id="UrlReprocessError"></div>
<div style="display:none;" data-url="@Url.Action("GetProcessInstances", "TechnicalDashBoard")" id="UrlGetProcessInstances"></div>
<div style="display:none;" data-url="@Url.Action("EventLog", "TechnicalDashBoard")" id="urlGetEventLog"></div>
<div style="display:none;" data-url="@Url.Action("ReProcess", "TechnicalDashBoard")" id="UrlReProcess"></div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnConditional').addClass('disabled').prop('disabled', true);
           
            $("#StartDate").kendoDateTimePicker({
                dateInput: true
            });
            $("#EndDate").kendoDateTimePicker({
                dateInput: true
            });
            GetProcessInstances();
          
        });
    </script>
    <script src="@Url.Content("~/Scripts/technicaldashboard.processinstance.js")" type="text/javascript"></script>

}