@model Volvo.MaintenanceTool.UserInterface.Models.IntegrationMessageModel
@{
    ViewBag.Title = "IntegrationMessageIndex";
}

<body>
    @using (Ajax.BeginForm("GetIntegrationMessage", "TechnicalDashBoard", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "SearchResultIntegrationMessage" }, new { id = "formSearchIntegrationMessage" }))
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Id)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.DisplayNameFor(model => model.MessageType)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.DisplayNameFor(model => model.Status)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.DisplayNameFor(model => model.System)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.DisplayNameFor(model => model.Message)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </td>
                <td width="10px"></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(model => model.Id)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.TextBoxFor(model => model.MessageType)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.TextBoxFor(model => model.Status)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.TextBoxFor(model => model.System)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.TextBoxFor(model => model.Message)
                </td>
                <td width="10px"></td>
                <td>
                    @Html.TextBoxFor(model => model.TimeStamp)
                </td>
                <td width="10px"></td>
                <td>
                    <input id="btnSearchIntegrationMessage" class="button" value="Search" type="button" name="btnSearchIntegrationMessage"
                           onclick="javascript:return PostSearchForm()" />
                    @*<input type="submit" value="Search" />*@
                </td>
            </tr>
        </table>
    }
    <div id="SearchResultIntegrationMessage">
    </div>
</body>
<script type="text/javascript">
    $('#menuTechnicalDashBoard').addClass('active');
    $('#menuHome').removeClass('active');
    function PostSearchForm() {

        var frm = $('#formSearchIntegrationMessage');
        formData = $(frm).serialize();

        $(frm).attr("action", "");

        $.ajax({ type: "POST", url: '@Url.Content("~/TechnicalDashBoard/GetIntegrationMessage/")', data: formData,
            success: function (data, status) {
                $('#SearchResultIntegrationMessage').html(data.PartialView);
            },
            dataType: "json", traditional: true
        });
        return;
    }
</script>


