
@model Volvo.MaintenanceTool.UserInterface.Models.GDPRSearchModel
@{
    ViewBag.Title = "Index";
}

@section styles{
    <link href="@Url.Content("~/Content/technicaldashboard.css")" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.SearchString)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 pull-left">
                    <div class="row">
                        <div class="col-md-12" style="height: 15px;">
                        </div>
                        <div class="col-md-12">
                            <input id="btnSearchGDPRInfo" class="btn btn-primary pull-left" value="Search" type="button" name="btnSearchGDPRInfo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result"></div>
    <div>
    </div>
</div>
<div id="dTable"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="output" class="modal-dialog">
    </div>
</div>
<div style="display:none;" data-url="@Url.Action("GetGDPRInfo", "GDPRInfo")" id="UrlGetGDPRInfo"></div>
<div style="display: none;" data-url="@Url.Action("GetUserDetail", "User")" id="UrlGetUserDetail"></div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/FileSaver.min.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <script src="@Url.Content("~/Scripts/gdprinfo.js")" type="text/javascript"></script>
}
