@using System.Configuration
@using System.Web.Optimization;
@using Volvo.NVS.Utilities.Web.Messaging
@using Volvo.NVS.Utilities.Web.Extensions
@using Volvo.NVS.Utilities.Web.Localization
@using Volvo.MaintenanceTool.UserInterface.Common.Helpers


<!DOCTYPE html>

<html>
<head>
    <!-- disable compatibility view, regardless of user settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/nvs/violin/CssBundle")
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap/Css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomStyles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Header", required: false)
    @RenderSection("styles", required: false)
    <style type="text/css">
        .preloader {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url("@Url.Content("~/Content/Images/preloader.gif")") 50% 50% no-repeat;
}
    </style>
</head>
<body>
    <div id="nvsMainWindow">
        <div class="row">
            <div class="col-md-9 col-sm-6">
                <a class="page-header" href="#" style="text-decoration:none; font-weight:bold; color:#C0C0C0; font-size:20px;">
                    <img src="~/Content/Images/Logo/Logo.png" style="display:inline-block;"><span>VSS Maintenance Tool <sub> Version 1.0</sub></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="breadcrumb">
                    <li>@ViewBag.Controller</li>
                    <li style="font-weight:bolder;"><span style="font-weight:bolder;">@ViewBag.Action</span></li>
                </ul>
            </div>
        </div>
        <div id="nvsHeader">
            <div id="nvsMenuContainer">
                @{ Html.RenderPartial("SiteMapBinding"); }
            </div>
        </div>
        <div id="nvsContent">
            <div id="nvsBody">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="preloader" id="preloader"></div>
    <!-- Javascript bundles -->
    @Scripts.Render("~/Scripts/Js/CommonJsBundle")
    @Scripts.Render("~/Scripts/Js/ValidationJsBundle")
    <script type="text/javascript">
        $(function () {
            @Html.GetLocalizedJavascriptValues(typeof(JavascriptResource))
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function GetTrimmedValue(requestId) {
                return $.trim(requestId.replace(/(\r\n|\n|\r)/gm, ""));
            }
            $body = $("body");

            $(document).on({
                ajaxStart: function () { $body.addClass("loading"); },
                ajaxStop: function () { $body.removeClass("loading"); }
            });


            $('input[id="btnClear"]').click(function () {
                $(':input:not([type=button])').val('');
            });
            //Active Menu Highlight Starts
            var url = window.location.href;
            url = url.substring(0, (url.indexOf("#") == -1) ? url.length : url.indexOf("#"));
            url = url.substring(0, (url.indexOf("?") == -1) ? url.length : url.indexOf("?"));
            url = url.substr(url.lastIndexOf("/") + 1);
            if (url == '') {
                url = 'Home';
                $("#menuHome").addClass('active');
            }
            $('#nvsMenuContainer li').each(function () {
                var href = $(this).find('a').attr('href');
                if (href != null) {
                    if (href.indexOf(url) != -1) {
                        $(this).closest('ul').closest('li').addClass('active');
                    }
                }
            });
            //Active Menu Highlight Ends
        });
        function closeCurrentTab() {
            var win = window.open('', '_self'); /* url = “” or “about:blank”; target=”_self” */
            window.top.close();
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
