@model Volvo.VSSMaintenance.UserDomain.DomainLayer.Entities.OrganisationInfo
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Detail for Organisation Id - @Html.DisplayFor(m => m.OrganisationId)</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.OrganisationId, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.OrganisationId, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.CDBPartyID, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.CDBPartyID, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.OrgType, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.OrgType, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.LegalName, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.LegalName, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.CommonName, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.CommonName, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.VATRegNo, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.VATRegNo, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.Email, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.ParmaNo, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.ParmaNo, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.Created, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.Created, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.Updated, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.Updated, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.ResponsibleUnitType, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.ResponsibleUnitType, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.DealerNumber, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.DealerNumber, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.ImporterNumber, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.ImporterNumber, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.CustomerNo, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.CustomerNo, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.ParentOrganisationId, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.ParentOrganisationId, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.ObjVersion, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.ObjVersion, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.A4DAddressId, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.A4DAddressId, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.AddressText, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.AddressText, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.IsDeleted, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.IsDeleted, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.Timestamp, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.Timestamp, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-2 col-sm-4">
                    @Html.LabelFor(m => m.MainPlace, null, new { @class = "control-label" })
                </div>
                <div class="col-md-4 col-sm-8">
                    @Html.TextBoxFor(m => m.MainPlace, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2 col-sm-4">
                   
                </div>
                <div class="col-md-4 col-sm-8">
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
