@model Volvo.VSSMaintenance.UserDomain.DomainLayer.Entities.UserInfo

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Detail for Baldo User Id - @Html.DisplayFor(m => m.BaldoUserId)</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.UserId, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.UserId, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.BaldoUserId, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.BaldoUserId, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Title, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Salutation, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Salutation, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.FirstName, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.SurName, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.SurName, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.EventCounterType, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.EventCounterType, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.EventCounterNumber, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.EventCounterNumber, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.QuotePrefix, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.QuotePrefix, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.QuoteSuffix, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.QuoteSuffix, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.NumberOfRowsInList, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.NumberOfRowsInList, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ShowNetPriceAndGrossProfit, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ShowNetPriceAndGrossProfit, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.FirstDayOfWeek, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.FirstDayOfWeek, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ShowWeekNumber, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ShowWeekNumber, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.UseSignatureImage, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.UseSignatureImage, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DefaultCurrency, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DefaultCurrency, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Signature, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Signature, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DisplayHomePage, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DisplayHomePage, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DefaultUILanguage, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DefaultUILanguage, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ObjVersion, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ObjVersion, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DefaultDataLanguage, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DefaultDataLanguage, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.CultureCode, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.CultureCode, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DefaultRU, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DefaultRU, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.IsDeleted, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.IsDeleted, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ShowListPrice, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ShowListPrice, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.OpenNextMFamily, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.OpenNextMFamily, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ShowVariant, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ShowVariant, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ShowSymbol, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ShowSymbol, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Visibility, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Visibility, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.IncludeOutsideInSearch, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.IncludeOutsideInSearch, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.PreviousSearchSetting, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.PreviousSearchSetting, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ViewLatestDeals, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ViewLatestDeals, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ViewQuotations, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ViewQuotations, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.ViewOrders, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.ViewOrders, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Make, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Make, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.BrandingType, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.BrandingType, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.BrandingAccess, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.BrandingAccess, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.CustomerNameType, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.CustomerNameType, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.CollapseFamily, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.CollapseFamily, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.PaperSize, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.PaperSize, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.Weight, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.Weight, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.NoOfRowsInCalculation, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.NoOfRowsInCalculation, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.NoOfQuotationOrderRowsList, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.NoOfQuotationOrderRowsList, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.NoOfQuotationInformationRowList, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.NoOfQuotationInformationRowList, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.NoOfOrderInformationRowList, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.NoOfOrderInformationRowList, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.DisclaimerTextViewedAt, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @Html.TextBoxFor(m => m.DisclaimerTextViewedAt, null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-3 col-sm-6">
                    @Html.LabelFor(m => m.SignatureImage, null, new { @class = "control-label" })
                </div>
                <div class="col-md-3 col-sm-6">
                    @if (Model.SignatureImage != null)
                    {
                        <img src="data:image;base64, @System.Convert.ToBase64String(Model.SignatureImage)" width="120" height="80" />
                    }
                    else
                    {
                        <label class="form-control" style="background-color:#eee">Not available</label>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
